<ul class="list-group">
  <li *ngIf="userHasEmailProvider" class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="text-muted">
          <sfa-provider-icon providerId="password"></sfa-provider-icon>
        </span>
        <sfa-provider-label providerId="password"></sfa-provider-label>
        <br>
        <small class="text-muted">
          <a routerLink="../change-email">Change Email</a>
          |
          <a routerLink="../change-password">Change Password</a>
        </small>

      </div>
      <div>
        <button
          type="button"
          *ngIf="userProviderIds.length > 1"
          class="btn btn-sm btn-outline-light"
          (click)="removeProvider('password')"
          [disabled]="submitting"
          [sfaProviderTitle]="{label: 'Remove', id: 'password'}">
          <i class="fa fa-fw fa-times text-danger"></i>
          <span class="sr-only">
            Remove <sfa-provider-label providerId="password"></sfa-provider-label>
          </span>
        </button>
      </div>
    </div>
  </li>
  <li *ngFor="let id of userOAuthProviderIds" class="list-group-item">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <span class="text-muted">
          <sfa-provider-icon [providerId]="id"></sfa-provider-icon>
        </span>
        <sfa-provider-label [providerId]="id"></sfa-provider-label>
      </div>
      <div>
        <button
          type="button"
          *ngIf="userProviderIds.length > 1"
          class="btn btn-sm btn-outline-light"
          (click)="removeProvider(id)"
          [disabled]="submitting"
          [sfaProviderTitle]="{label: 'Remove', id: id}">
          <i class="fa fa-fw fa-times text-danger"></i>
          <span class="sr-only">
            Remove <sfa-provider-label [providerId]="id"></sfa-provider-label>
          </span>
        </button>
      </div>
    </div>
  </li>
</ul>
<div class="invalid-feedback" *ngIf="removeError" style="display:block;">
  Error: {{removeError.code}}
</div>
<div *ngIf="emailProviderAvailable || availableOAuthProviderIds.length > 0" >
  <small class="text-muted">
    Add...
  </small>
  <div class="list-group">
    <a
      *ngIf="emailProviderAvailable"
      routerLink="../add-password"
      class="list-group-item list-group-item-action"
      [sfaProviderTitle]="{label: 'Add', id: 'password'}">
      <sfa-provider-icon providerId="password"></sfa-provider-icon>
      Add
      <sfa-provider-label providerId="password"></sfa-provider-label>
    </a>
    <button *ngFor="let id of availableOAuthProviderIds"
      type="button"
      class="list-group-item list-group-item-action"
      (click)="link(id)"
      [disabled]="submitting"
      [sfaProviderTitle]="{label: 'Remove', id: id}">
      <sfa-provider-icon [providerId]="id"></sfa-provider-icon>
      Add
      <sfa-provider-label [providerId]="id"></sfa-provider-label>
    </button>
  </div>
</div>
