<div *ngIf="user">
    <form [formGroup]="fg" (ngSubmit)="submit()" *ngIf="! success">
      <div class="form-group">
        <label [attr.for]="id + 'password'">
          Choose New Password
        </label>
        <ezfa-toggleable-password [control]="passwordInput">
          <input
            #passwordInput
            [attr.id]="id + 'password'"
            class="form-control"
            [ezfaInvalidInput]="fg.get('password')"
            placeholder="Password"
            type="password"
            [attr.aria-describedby]="id + 'passwordHelp'"
            formControlName="password">
        </ezfa-toggleable-password>
        <div [ezfaInvalidFeedback]="fg.get('password')" key="required">
          Required.
        </div>
        <div [ezfaInvalidFeedback]="fg.get('password')" key="auth/weak-password">
          That password is too weak.
        </div>
        <small [attr.id]="id + 'passwordHelp'"  class="form-text text-muted">
          Please choose a strong password.
        </small>
      </div> <!-- password form-group -->
      <div class="form-group text-right">
        <button
          type="submit"
          [disabled]="submitting || fg.invalid"
          class="btn"
          [class.btn-outline-dark]="fg.invalid"
          [class.btn-outline-success]="!fg.invalid">
          <i class="fa fa-fw fa-save" aria-hidden="true"></i>
          Save Password
        </button>
        <p *ngIf="submitting">
          <i class="fa fa-fw fa-spin fa-refresh" aria-hidden="true"></i>
          Saving password...
        </p>
        <p *ngIf="unhandledError">
          <i class="fa fa-fw fa-warning text-danger" aria-hidden="true"></i>
          Error: {{unhandledError.code}}
        </p>
      </div>
    </form>
    <div *ngIf="success">
      <div class="alert alert-success" role="alert">
        Your new password has been saved.
      </div>
      <p>
        <a routerLink="../account" class="btn btn-secondary btn-block">
          Back to Account
        </a>
      </p>
    </div>

</div>
