<form [formGroup]="fg" (ngSubmit)="submit()" *ngIf="! success">
  <div class="form-group">
    <label [attr.for]="id + 'email'">
      Email Address
    </label>
    <input
      [attr.id]="id + 'email'"
      class="form-control"
      [ezfaInvalidInput]="fg.get('email')"
      placeholder="Email Address"
      type="email"
      [attr.aria-describedby]="id + 'emailHelp'"
      formControlName="email">
    <div [ezfaInvalidFeedback]="fg.get('email')" key="required">
      Required.
    </div>
    <div [ezfaInvalidFeedback]="fg.get('email')" [key]="['auth/invalid-email', 'email']">
      Invalid email address.
    </div>
    <div [ezfaInvalidFeedback]="fg.get('email')" key="auth/user-not-found">
      We could not find an account with that email address.
    </div>
    <div [ezfaInvalidFeedback]="fg.get('email')" key="no-password">
      The account with that email address does not yet have a password. Please
      <a routerLink="../sign-in">sign in</a> with
      <ezfa-providers-list-phrase [providerIds]="oAuthProviderIds" andOr="or"></ezfa-providers-list-phrase>
      instead.
    </div>

    <small [attr.id]="id + 'emailHelp'"  class="form-text text-muted">
      Enter the email address you used to sign up with <ezfa-application-label></ezfa-application-label>.
      We’ll send you a link to reset your password.
    </small>
  </div> <!-- password form-group -->
  <div class="form-group text-right mb-0">
    <p>
      <button
        type="submit"
        [disabled]="submitting || fg.invalid"
        class="btn"
        [class.btn-outline-dark]="fg.invalid"
        [class.btn-outline-success]="!fg.invalid">
        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
        Send Link
      </button>
    </p>
    <p *ngIf="submitting" class="text-muted mt-3 mb-0">
      <i class="fa fa-fw fa-spin fa-refresh" aria-hidden="true"></i>
      Sending link...
    </p>
    <p *ngIf="unhandledError" class="text-muted mt-3 mb-0">
      <i class="fa fa-fw fa-warning text-danger" aria-hidden="true"></i>
      Error: {{unhandledError.code}}
    </p>
  </div>
</form>

<div *ngIf="success">
  <div class="alert alert-success" role="alert">
    <p class="mb-1">
      <i class="fa fa-check" aria-hidden="true"></i>
      <strong>Check Your Email</strong>
    </p>
    <p class="mb-0">
      We’ve sent a reset password link to {{fg.get('email').value}}.
    </p>
  </div>

  <p class="text-muted">
    Allow a few moments for the email to arrive.
  </p>
  <p class="text-muted text-right mb-0">
    No email yet?
    <button (click)="reset()" class="btn btn-secondary btn-sm ml-3">Resend Link</button>
  </p>
</div>
