<div class="form-group mb-0">
  <div class="form-check">
    <label class="form-check-label">
      <input #checkbox
        type="checkbox"
        class="form-check-input"
        [value]="true"
        [formControl]="control"
        [attr.aria-describedby]="id + 'rememberMeHelp'">
      Remember me on this device.
    </label>
  </div>
  <small [attr.id]="id + 'rememberMeHelp'" class="form-text text-muted">
    Uncheck this box if you’re on a public computer or shared device.
  </small>
</div>
