<div [ngSwitch]="screen">
  <div  *ngSwitchCase="'wait'">
    <div class="alert alert-light" role="alert">
      <i class="fa fa-fw fa-refresh fa-spin" aria-hidden="true"></i>
      Recovering email.
      Please wait...
    </div>
  </div>
  <div  *ngSwitchCase="'form'">
    <div class="form-group">
      <p>
        Are you sure you want to change your email back to {{email}}?
      </p>
      <small class="form-text text-muted">Current email: {{fromEmail}}</small>
    </div>
    <div class="form-group text-right mb-0">
      <button
        type="button"
        (click)="submit()"
        [disabled]="submitting"
        class="btn btn-outline-success">
        <i class="fa fa-fw fa-save" aria-hidden="true"></i>
        Yes, Continue
      </button>
      <p *ngIf="submitting" class="text-muted">
        <i class="fa fa-fw fa-spin fa-refresh" aria-hidden="true"></i>
        Recovering email...
      </p>
    </div>
  </div>
  <div *ngSwitchCase="'success'">
    <div class="alert alert-success" role="alert">
        <i class="fa fa-fw fa-check" aria-hidden="true"></i>
        Your email has been changed back to {{email}}.
    </div>
    <p class="text-right">
      <a *ngIf="user" routerLink="../account">Account</a>
      <a *ngIf="!user" routerLink="../sign-in" [queryParams]="{email: email}">Sign In</a>
    </p>
  </div>
  <div *ngSwitchCase="'error'">
    <div class="alert alert-danger" role="alert">
      <p>
        <i class="fa fa-fw fa-warning" aria-hidden="true"></i>
         <strong>Error</strong>
      </p>
      <p class="mb-0" [ngSwitch]="error.code">
        <span *ngSwitchCase="'auth/expired-action-code'">
          The email recovery link you used has expired.
        </span>
        <span *ngSwitchCase="'auth/invalid-action-code'">
          The email recovery link you used is invalid.
          This is probably because it has already been used once.
        </span>
        <span *ngSwitchCase="'auth/user-disabled'">
          The account associated with that email recovery link has been disabled.
        </span>
        <span *ngSwitchCase="'auth/user-not-found'">
          The account associated with that email recovery link has been deleted.
        </span>
        <span *ngSwitchDefault>
          An unexpected error occurred. Code: {{error.code}}
        </span>
      </p>

    </div>
    <p class="text-right">
      <a *ngIf="user" routerLink="../account">Account</a>
      <a *ngIf="!user" routerLink="../sign-in">Sign In</a>
    </p>
  </div>

</div>
