<div [ngSwitch]="screen">
  <div  *ngSwitchCase="'wait'">
    <div class="alert alert-light" role="alert">
      <i class="fa fa-fw fa-refresh fa-spin" aria-hidden="true"></i>
      Verifying email<span *ngIf="email"> {{email}}</span>.
      Please wait...
    </div>
  </div>
  <div *ngSwitchCase="'success'">
    <div class="alert alert-success" role="alert">
        <i class="fa fa-fw fa-check" aria-hidden="true"></i>
        {{email}} verified.
    </div>
    <p class="text-right">
      <a *ngIf="user" routerLink="../account">Account</a>
      <a *ngIf="!user" routerLink="../sign-in" [queryParams]="{email: email}">Sign In</a>
    </p>
  </div>
  <div *ngSwitchCase="'error'">
    <div class="alert alert-danger" role="alert">
      <p>
        <i class="fa fa-fw fa-warning" aria-hidden="true"></i>
         <strong>Error</strong>
      </p>
      <p class="mb-0" [ngSwitch]="error.code">
        <span *ngSwitchCase="'auth/expired-action-code'">
          The email verification link you used has expired.
          <a routerLink="../send-email-verification-link" class="alert-link">Click here</a>
          to get a new link.
        </span>
        <span *ngSwitchCase="'auth/invalid-action-code'">
          The email verification link you used is invalid.
          This is probably because it has already been used once.
          <a routerLink="../send-email-verification-link" class="alert-link">Click here</a>
          to get a new link.
        </span>
        <span *ngSwitchCase="'auth/user-disabled'">
          The account associated with that email verification link has been disabled.
        </span>
        <span *ngSwitchCase="'auth/user-not-found'">
          The account associated with that email verification link has been deleted.
        </span>
        <span *ngSwitchDefault>
          An unexpected error occurred. Code: {{error.code}}
        </span>
      </p>

    </div>
    <p class="text-right">
      <a *ngIf="user" routerLink="../account">Account</a>
      <a *ngIf="!user" routerLink="../sign-in">Sign In</a>
    </p>
  </div>

</div>
