<div [ngSwitch]="screen">
  <div *ngSwitchCase="'wait'">
    <p class="text-muted">
      <i class="fa fa-spin fa-fw fa-refresh"></i>
      Checking password reset link. Please wait...
    </p>
  </div>
  <div *ngSwitchCase="'success'">
    <p class="text-muted">
      <i class="fa fa-fw fa-check text-success" aria-hidden="true"></i>
      Welcome, {{user.displayName}}. Your password has been saved and you’re signed in.
    </p>
    <p class="text-right">
      <a routerLink="../account">Account</a>
    </p>
  </div>
  <div *ngSwitchCase="'error'">
    <p class="text-muted" [ngSwitch]="linkError.code">
      <i class="fa fa-fw fa-warning text-danger"></i>
      <strong>Error</strong><br>
      <span *ngSwitchCase="'auth/expired-action-code'">
        The reset password link has expired.
        Please <a routerLink="../send-reset-password-link">click here</a>
        to get a new link.
      </span>
      <span *ngSwitchCase="'auth/invalid-action-code'">
        The reset password link is invalid.
        This can happen if it has already been used.
        Please <a routerLink="../send-reset-password-link">click here</a>
        to get a new link.
      </span>
      <span *ngSwitchCase="'auth/user-not-found'">
        The account associated with that reset password link
        has been deleted.
      </span>
      <span *ngSwitchCase="'auth/user-disabled'">
        The account associated with that reset password link
        has been disabled.
      </span>
    </p>
  </div>
  <div *ngSwitchCase="'form'">
    <form [formGroup]="fg" (ngSubmit)="submit()">
      <div class="form-group">
        <label [attr.for]="id + 'password'">
          Choose New Password
        </label>
        <sfa-toggleable-password [control]="passwordInput">
          <input
            #passwordInput
            [attr.id]="id + 'password'"
            class="form-control"
            [sfaInvalidInput]="fg.get('password')"
            placeholder="Password"
            type="password"
            [attr.aria-describedby]="id + 'passwordHelp'"
            formControlName="password">
        </sfa-toggleable-password>
        <div [sfaInvalidFeedback]="fg.get('password')" key="required">
          Required.
        </div>
        <div [sfaInvalidFeedback]="fg.get('password')" key="auth/weak-password">
          That password is too weak.
        </div>
        <small [attr.id]="id + 'passwordHelp'"  class="form-text text-muted">
          You’re choosing a new password for {{email}}.
        </small>
      </div> <!-- password form-group -->
      <div class="form-group text-right">
        <button
          type="submit"
          [disabled]="submitting || fg.invalid"
          class="btn"
          [class.btn-outline-dark]="fg.invalid"
          [class.btn-outline-success]="!fg.invalid">
          <i class="fa fa-fw fa-save" aria-hidden="true"></i>
          Save Password
        </button>
        <p *ngIf="submitting">
          <i class="fa fa-fw fa-spin fa-refresh" aria-hidden="true"></i>
          Saving password...
        </p>
        <p *ngIf="unhandledError">
          <i class="fa fa-fw fa-warning text-danger" aria-hidden="true"></i>
          Error: {{unhandledError.code}}
        </p>
      </div>
    </form>
  </div>
</div>
