<div *ngIf="user">

  <div *ngIf="user.displayName">
    <h6 class="text-muted mb-1">Name</h6>
    <p>{{user.displayName}}</p>
  </div>
  <h6 class="text-muted mb-1">Email</h6>
  <p>
    {{user.email}}
    <span class="badge badge-success" *ngIf="user.emailVerified">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      Verified
    </span>
    <span  *ngIf="!user.emailVerified">
      <a routerLink="../send-email-verification-link">Verify</a>
    </span>
  </p>

  <h6 class="text-muted mb-1">Sign In Methods</h6>
  <div class="mb-3" *ngIf="userProviderData">
    <ul class="list-group">
      <li *ngIf="userProviderData.hasPassword" class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="text-muted">
              <ezfa-provider-icon providerId="password"></ezfa-provider-icon>
            </span>
            <ezfa-provider-label providerId="password"></ezfa-provider-label>
            <br>
            <small class="text-muted">
              <a routerLink="../change-email">Change Email</a>
              |
              <a routerLink="../change-password">Change Password</a>
            </small>

          </div>
          <div>
            <a
              routerLink="../unlink"
              [queryParams]="{providerId: 'password'}"
              type="button"
              *ngIf="userProviderData.ids.length > 1"
              class="btn btn-sm btn-outline-light"
              [ezfaProviderTitle]="{label: 'Remove', id: 'password'}">
              <i class="fa fa-fw fa-times text-danger"></i>
              <span class="sr-only">
                Remove <ezfa-provider-label providerId="password"></ezfa-provider-label>
              </span>
            </a>
          </div>
        </div>
      </li>
      <li *ngFor="let id of userProviderData.oauthIds" class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <span class="text-muted">
              <ezfa-provider-icon [providerId]="id"></ezfa-provider-icon>
            </span>
            <ezfa-provider-label [providerId]="id"></ezfa-provider-label>
          </div>
          <div>
            <a
              routerLink="../unlink"
              [queryParams]="{providerId: id}"
              *ngIf="userProviderData.ids.length > 1"
              class="btn btn-sm btn-outline-light"
              [ezfaProviderTitle]="{label: 'Remove', id: id}">
              <i class="fa fa-fw fa-times text-danger"></i>
              <span class="sr-only">
                Remove <ezfa-provider-label [providerId]="id"></ezfa-provider-label>
              </span>
            </a>
          </div>
        </div>
      </li>
    </ul>

    <div *ngIf="userProviderData.canAddPassword || userProviderData.canAddOauth.length > 0" >
      <small class="text-muted">
        Add...
      </small>
      <div class="list-group">
        <a
          *ngIf="userProviderData.canAddPassword"
          routerLink="../add-password"
          class="list-group-item list-group-item-action"
          [ezfaProviderTitle]="{label: 'Add', id: 'password'}">
          <ezfa-provider-icon providerId="password"></ezfa-provider-icon>
          Add
          <ezfa-provider-label providerId="password"></ezfa-provider-label>
        </a>
        <button *ngFor="let id of userProviderData.canAddOauth"
          type="button"
          class="list-group-item list-group-item-action"
          (click)="addProvider(id)"
          [ezfaProviderTitle]="{label: 'Add', id: id}">
          <ezfa-provider-icon [providerId]="id"></ezfa-provider-icon>
          Add
          <ezfa-provider-label [providerId]="id"></ezfa-provider-label>
        </button>
      </div>
    </div>
  </div>


  <ezfa-persistence-form></ezfa-persistence-form>


  <p class="text-right mb-0">
    <a routerLink="../sign-out">Sign Out</a>
  </p>

</div>
